@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ELAND_Choice_M", sans-serif;
  height: 100%; /* 전체 페이지 높이를 100%로 설정 */
}
main {
  flex: 1; /* main이 화면에서 남은 공간을 차지하도록 설정 */
  overflow-y: auto; /* 세로 스크롤 필요시 표시 */
  padding-bottom: 80px; /* Footer와 겹치지 않도록 여백 추가 */
}
footer {
  flex-shrink: 0; /* footer가 밀리지 않도록 설정 */
}
html {
  height: 100%; /* html의 높이를 100%로 설정 */
}
